<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Manipulation Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHq+2Q6wM/VrXl1SLOtT4ud3StzUXw68Jl9tI1QSHJqEzR42/b4bV1xVFR/Rv0Xp2F8g+fg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <h1>Image Manipulation Detection</h1>
        </div>
    </nav>
    <div class="main-container">
        <div class="upload-container">
            <h2>Upload an Image</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Choose an image...
                </label>
                <input id="file-upload" type="file" name="file">
                <input type="submit" value="Upload Image">
            </form>
        </div>
    </div>
</body>

</html>